{% extends "base.html" %}


{% block content %}
<div class="form-group" style="text-align: center; padding: 2%;">
    <h2 class="display-10">Items List</h2>
</div>
<table class="table table-striped">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Item Code</td>
            <td>Item Name</td>
            <td>Item Merk</td>
            <td>Category</td>
            <td>
                <a href="{% url 'item_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for item in item_list %}
        <tr>
            <td>{{item.item_code}}</td>
            <td>{{item.item_name}}</td>
            <td>{{item.item_merk}}</td>
            <td>{{item.category}}</td>
            
            <td>
                <button class="btn text-secondary px-10"  data-toggle="modal" data-target="#myModal{{item.pk}}{{forloop.counter0}}" type="button">
                    <i class="fas fa-camera fa-lg"></i>
                </button>
                <!-- The Modal -->
            <div class="modal" id="myModal{{item.pk}}{{forloop.counter0}}">
                <div class="modal-dialog">
                <div class="modal-content">
            
                    <!-- Modal Header -->
                    <div class="modal-header">
                    <h4 class="modal-title">Item Picture</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
            
                    <!-- Modal body -->
                    <div class="modal-body">
                        <img src="{{item.item_picture.url}}" style="max-width: 80%; max-height: 70%;">
                    </div>
            
                    <!-- Modal footer -->
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
            
                </div>
                </div>
            </div>
                <a href="{% url 'item_update' item.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'item_delete' item.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if item_list.has_other_pages %}
  <ul class="pagination">
    {% if item_list.has_previous %}
      <li><a href="?page={{ item_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in item_list.paginator.page_range %}
      {% if item_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if item_list.has_next %}
      <li><a href="?page={{ item_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}