{% extends "base.html" %}


{% block content %}
<div class="form-group" style="text-align: center; padding: 2%;">
    <h2 class="display-10">Employee List</h2>
</div>
<table class="table table-striped">
    <thead class="border-bottom font-weight-bold text-center">
        <tr>
            <td>Fullname</td>
            <td>NIK</td>
            <td>Position</td>
            <td>Division</td>
            <td>Sex</td>
            <td style="width: 30%">Address</td>
            <td style="width: 12%;">
                <a href="{% url 'employee_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.employee_nik}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.division}}</td>
            <td>{{employee.sex}}</td>
            <td>{{employee.address}}</td>
            <td>
                <a href="{% url 'employee_update' employee.employee_nik %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'employee_delete' employee.employee_nik %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if employee_list.has_other_pages %}
  <ul class="pagination">
    {% if employee_list.has_previous %}
      <li><a href="?page={{ employee_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in employee_list.paginator.page_range %}
      {% if employee_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if employee_list.has_next %}
      <li><a href="?page={{ employee_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock content %}