<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>e-Warehouse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <div class="container-fluid mx-auto">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-11 mt-5">
                <div class="jumbotron">
                    <div class="form-group">
                        <h1 class="display-4">e-Warehouse</h1>
                        <p class="lead font-italic">Warehouse Management System For Company Inventory Control</p>
                    </div>
                    <!-- <hr class="my-4"> -->
                        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
                            <!-- Brand -->
                            <!-- <a class="navbar-brand" href="#">Logo</a> -->
                          
                            <!-- Links -->
                            <ul class="navbar-nav">
                          
                              <!-- Dropdown -->
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                  Employee
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'employee_insert' %}">Employee Register</a>
                                  <a class="dropdown-item" href="{% url 'employee_list' %}">Employee List</a>
                                </div>
                              </li>
                              <!-- Dropdown -->
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                  Item
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'item_insert' %}">Item Register</a>
                                  <a class="dropdown-item" href="{% url 'item_list' %}">Item List</a>
                                </div>
                              </li>
                              <!-- Dropdown -->
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                  Item History Service
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'history_insert' %}">Item History Service Form</a>
                                  <a class="dropdown-item" href="{% url 'history_list' %}">Item History Service List</a>
                                </div>
                              </li>
                              <!-- Dropdown -->
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                  Borrow Transaction
                                </a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="{% url 'borrow_insert' %}">Borrow Transaction Form</a>
                                  <a class="dropdown-item" href="{% url 'borrow_list' %}">Borrow Transaction List</a>
                                </div>
                              </li>
                            </ul>
                          </nav>
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>